extends layout

block content
  nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header.page-scroll
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse', aria-expanded='false')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#page-top') LISA CARLSON
      #navbar-collapse.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li.page-scroll
            a(href='#about') ABOUT
          li.page-scroll
            a(href='#portfolio') PORTFOLIO
          li.page-scroll
            a(href='#skills') SKILLS
          li.page-scroll
            a(href='#contact') CONTACT
  section#intro.intro
    .intro-body
      .container
        .row
          .col-md-8.col-md-offset-2
            h1.greeting LISA CARLSON
            p.intro-text.text-center I turn words into software. I aspire to create captivating front-end designs and visualizations built on robust back-end architectures.
            .page-scroll
              a#see-work.btn.btn-lg.button(href="#portfolio") See my work
  section#about
    img.flower1(src='images/flower60.png')
    .container
      .about-section
        .page-header
          h2.text-center.padding-top ABOUT ME
        .row
          .col-md-10.col-md-offset-1.about
            h4.lead.padding-top Full-Stack Web Developer seeking to contribute on a world class development team. I am motivated by finding simple elegant solutions to challenging problems. I aspire to create applications with robust back-end architectures, with captivating front-end designs and visualizations.
    img.flower2(src='images/flower602.png')
  section#portfolio
    h2.text-center.padding-top PORTFOLIO
    .container
      .portfolio-section
        .row
          .col-md-10.col-md-offset-1
            h4.text-danger.text-center Work completed at Human Design.
        .row.margin-top
          .col-md-6
            figure.portfolio-img
              img.img-responsive(src="/images/humandesign.png")
              figcaption
                a.margin-left(href="http://humandesign.agency" target="_blank") HUMAN DESIGN visit site
            h4.margin-top.text-center A fully responsive site, combining custom interactive JavaScript and visual effects. Built with HTML5, CSS3, JavaScript and jQuery
          .col-md-6
            figure.portfolio-img
              img.img-responsive(src="/images/bouldercenter.png")
              figcaption.hover-mask
                a.margin-left(href="http://bouldercentre.com" target="_blank") BOULDERCENTRE visit site
            h4.margin-top.text-center A website highlighting the merger between MapletonHill Orthopaedics and Boulder Orthopedics. Due to the client’s request, the site was built in the Squarespace CMS

        .row.margin-top
          .col-md-10.col-md-offset-1
            h4.text-danger.text-center A couple of projects born out of Galvanize's classroom assignments.
        .row.margin-top
          .col-md-6
            figure.portfolio-img
              img.img-responsive(src="/images/galleryApp.png")
              figcaption
                a.margin-left(href="https://stark-cove-1956.herokuapp.com" target="_blank") GALLERY APP visit site
            h4.margin-top.text-center An Express app using MongoDB to manage photos that can be grouped into galleries. Sign in as test@gmail.com, password is 'password' to see a seeded example.
          .col-md-6
            figure.portfolio-img
              img.img-responsive(src="/images/redditClone.png")
              figcaption.hover-mask
                a.margin-left(href="https://gentle-chamber-7959.herokuapp.com" target="_blank") REDDITCLONE visit site
            h4.margin-top.text-center A reddit clone built in Angular complete with posts, comments, searching, sorting and animations.
  section#skills
    h2.text-center.padding-top.white RELEVANT SKILLS
    .wrapper
      .row
        .col-md-3.skills-first
          h3.white FRONT-END
          i.glyphicon.glyphicon-chevron-right.text-danger.block
            span.white.margin-left-sm jQuery
          i.glyphicon.glyphicon-chevron-right.text-danger.block
            span.white.margin-left-sm AJAX
          i.glyphicon.glyphicon-chevron-right.text-danger.block
            span.white.margin-left-sm JavaScript
          i.glyphicon.glyphicon-chevron-right.text-danger.block
            span.white.margin-left-sm Angular
          i.glyphicon.glyphicon-chevron-right.text-danger.block
            span.white.margin-left-sm CSS3
          i.glyphicon.glyphicon-chevron-right.text-danger.block
            span.white.margin-left-sm HTML5
          i.glyphicon.glyphicon-chevron-right.text-danger.block
            span.white.margin-left-sm Bootstrap
        .col-md-3.skills-second
          h3.white BACK-END
          i.glyphicon.glyphicon-chevron-right.text-danger.block
            span.white.margin-left-sm Express
          i.glyphicon.glyphicon-chevron-right.text-danger.block
            span.white.margin-left-sm NodeJS
        .col-md-3.skills-third
          h3.white DATABASE
          i.glyphicon.glyphicon-chevron-right.text-danger.block
            span.white.margin-left-sm MongoDB
          i.glyphicon.glyphicon-chevron-right.text-danger.block
            span.white.margin-left-sm PostgreSQL
        .col-md-3.skills-fourth
          h3.white GENERAL
          i.glyphicon.glyphicon-chevron-right.text-danger.block
            span.white.margin-left-sm Test Driven Development
          i.glyphicon.glyphicon-chevron-right.text-danger.block
            span.white.margin-left-sm Git/Github
          i.glyphicon.glyphicon-chevron-right.text-danger.block
            span.white.margin-left-sm API Integration
          i.glyphicon.glyphicon-chevron-right.text-danger.block
            span.white.margin-left-sm Debugging
      //- .row
      //-   .col-md-12.currently
      //-     img.spirals(src='images/spirals.png')
      //-     h2.text-center.text-warning CURRENTLY LEARNING
      //-   .col-md-6.col-md-offset-3.current-lessons
      //-     i.glyphicon.glyphicon-chevron-right.text-danger
      //-       span.white.margin-left-sm SASS
      //-     i.glyphicon.glyphicon-chevron-right.text-danger
      //-       span.white.margin-left-sm Agile
      //-     i.glyphicon.glyphicon-chevron-right.text-danger
      //-       span.white.margin-left-sm Canvas
  section#contact
    .contact-section
      .container
        h2.text-center CONTACT ME
        .row
          .col-md-6.col-md-offset-3
            h3.text-center.text-danger lisa.carlson85@gmail.com
        .row
          .col-md-12.icon-wrapper
            .icons
              a(href="https://gmail.com" target="_blank")
                i(class='glyphicon glyphicon-envelope')
              a(href="https://github.com/LisaCarlson" target="_blank")
                i(class="fa fa-github")
              a(href="https://twitter.com/lisacarlson85" target="_blank")
                i(class="fa fa-twitter")


          
